body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	/*overflow: hidden;*/
}

.container {
	width: 1200px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: #000;
	padding: 0 40px;
}

.header-logo {
	display: flex;
	justify-content: space-around;
	margin-left: 1rem;
}

.header-item-bgd {	
	margin: 15px;
}

.header-item-bgd h4 {
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	text-align: center;
	margin: 0.5rem;
	font-size: 27px;
	text-shadow: 1px 0 0 red;
	letter-spacing: 2px;
	margin: 0;
	line-height: 0;
	animation: glitch1 2.5s infinite;

}

.header-item-bgd h4:nth-child(2) {
	color: #67f3da;
	animation: glitch2 2.5s infinite;
}

.header-item-bgd h4:nth-child(3) {
	color: #f16f6f;
	animation: glitch3 2.5s infinite;
}


@keyframes glitch1 {
0% {
	transform: none;
	opacity: 1;
}
7% {
	transform: skew(-0.5deg, -0.9deg);
	opacity: 0.75;
}
10% {
	transform: none;
	opacity: 1;
}
27% {
	transform: none;
	opacity: 1;
}
30% {
	transform: skew(0.8deg, -0.1deg);
	opacity: 0.75;
}
35% {
	transform: none;
	opacity: 1;
}
52% {
	transform: none;
	opacity: 1;
}
55% {
	transform: skew(-1deg, 0.2deg);
	opacity: 0.75;
}
50% {
	transform: none;
	opacity: 1;
}
72% {
	transform: none;
	opacity: 1;
}
75% {
	transform: skew(0.4deg, 1deg);
	opacity: 0.75;
}
80% {
	transform: none;
	opacity: 1;
}
100% {
		transform: none;
		opacity: 1;
}
}

@keyframes glitch2 {
0% {
	transform: none;
	opacity: 0.25;
}
7% {
	transform: translate(-2px, -3px);
	opacity: 0.5;
}
10% {
	transform: none;
	opacity: 0.25;
}
27% {
	transform: none;
	opacity: 0.25;
}
30% {
	transform: translate(-5px, -2px);
	opacity: 0.5;
}
35% {
	transform: none;
	opacity: 0.25;
}
52% {
	transform: none;
	opacity: 0.25;
}
55% {
	transform: translate(-5px, -1px);
	opacity: 0.5;
}
50% {
	transform: none;
	opacity: 0.25;
}
72% {
	transform: none;
	opacity: 0.25;
}
75% {
	transform: translate(-2px, -6px);
	opacity: 0.5;
}
80% {
	transform: none;
	opacity: 0.25;
}
100% {
	transform: none;
	opacity: 0.25;
}
}

@keyframes glitch3 {
0% {
	transform: none;
	opacity: 0.25;
}
7% {
	transform: translate(2px, 3px);
	opacity: 0.5;
}
10% {
	transform: none;
	opacity: 0.25;
}
27% {
	transform: none;
	opacity: 0.25;
}
30% {
	transform: translate(5px, 2px);
	opacity: 0.5;
}
35% {
	transform: none;
	opacity: 0.25;
}
52% {
	transform: none;
	opacity: 0.25;
}
55% {
	transform: translate(5px, 1px);
	opacity: 0.5;
}
50% {
	transform: none;
	opacity: 0.25;
}
72% {
	transform: none;
	opacity: 0.25;
}
75% {
	transform: translate(2px, 6px);
	opacity: 0.5;
}
80% {
	transform: none;
	opacity: 0.25;
}
100% {
	transform: none;
	opacity: 0.25;
}
}



.header-item-cyber p {
	font-family: 'Press Start 2P', cursive;
	color: #00ffff;
	font-size: 10px;
	margin: 0 auto;
	line-height: 1.60;
	letter-spacing: 2px;
	text-shadow: -1px 0 0 #0000ff;	
}


/*.header-item a {
	text-decoration: none;
	color: #595955;
	background: #fff;
	padding: 10px 15px;
	border-radius: 15px;
	text-transform: uppercase;
}*/


nav {
	position: relative;
	width: 590px;
	height: 50px;
	/*background-color: #50504d;*/
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 90%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	/*border-radius: 8px;*/
}

.header-item a {
	font-family: 'Press Start 2P', cursive;
	letter-spacing: 1px;
	font-size: 10px;
}

.header-item a:nth-child(1) {
	width: 100px;
}

.header-item a:nth-child(2) {
	width: 110px;
}

.header-item a:nth-child(3) {
	width: 100px;
}

.header-item a:nth-child(4) {
	width: 150px;
}

.header-item a:nth-child(5) {
	width: 120px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	border: 2px solid red;
}

nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	border: 2px solid red;
}

nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	border: 2px solid red;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 150px;
	left: 310px;
	border: 2px solid red;
	}

nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 460px;
	/*border: 1px solid #00ffff;*/
}




/*END HEADER*/

.main-section {
	height: 700px;
	/*background-color: #E1B35F;
	display: flex;
	justify-content: space-around;
	align-items: center;*/
}


/*SLIDER*/

.wrap {
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: auto;
	flex-direction: column;
}	

/*button {
	width: 30px;
	border: none;
	background: transparent;
	color: #ccc;
	font-size: 50px;
	text-align: center;
	outline: none;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
}

button:hover {
opacity: 1;
}*/

.slider	{
	display: flex;
	flex-direction: row;
	height: 700px;
	border-bottom: 1px solid red;
}

.scroller {
	flex: 1;
	overflow: hidden;

}

.items {
	list-style-type: none; 
	white-space: nowrap;
	transition: transform 1s ease-in-out;
	padding: 0;
	margin: 0;

}

.item {
	display: inline-block;
	width: 105%;
	height: 700px;
	/*background-size: cover;*/
	/*background-position: 100% 100%;*/
	/*position: relative;*/

}

.item img {
	/*display: inline-block;*/
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 100% 100%;
	padding: 0;
	margin: 0;
	width: 100%;
	border: 0;
}

.btn-left {
	position: absolute;
	top: 35%;
	width: 30px;
	border: none;
	background: transparent;
	color: #ccc;
	font-size: 50px;
	text-align: center;
	outline: none;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
}

.btn-right {
	position: absolute;
	left: 80%;
	top: 35%;
	width: 30px;
	border: none;
	background: transparent;
	color: #ccc;
	font-size: 50px;
	text-align: center;
	outline: none;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
}


/*END SLIDER*/


.text-section {
	width: 600px;
}

.wrap-main {		
	margin: auto;
	padding: 20px;
	background: #000;
}

.main-header {
	display: flex;
	justify-content: center;
	margin: 15px 0;
	background-color: red;
}

.main-header h2 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 0 0 red;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 0 0 #000;
}

.main-block {
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.block-about {
	margin: 30px;
	width: 500px;
	height: 220px;
	border: 1px solid #67f3da;
	align-self: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 5px red;
	transition: 1s ease-in-out;
}

.block-img	{
	display: flex;
	margin: 0 20px;
	width: 100px;
	height: 100px;
	border: 1px solid #67f3da;
	box-shadow: 5px 5px 0 red;
	
}

.block-img.bot {
	background: url(../img/main-block/support.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 50px;
	

}

.block-img.hours {
	background: url(../img/main-block/24-hours.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 50px;
}

.block-img.growth {
	background: url(../img/main-block/growth.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 50px;
}

.block-img.edit {
	background: url(../img/main-block/edit.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 50px;
}

.block-text {
	margin: 0 20px;
	width: 225px;
	flex-grow: 1;
	color: #fff;
}

.block-text h2 {
	font-family: Play, sans-serif;
	font-size: 18px;
	color: #000; 
	background-color: #00ffff;
	padding: 5px 15px;	
	box-shadow: 1px 1px 0 red;
	text-transform: uppercase;
}

.block-text p {
	font-family: Play, sans-serif;
	font-weight: 400;
	color: #00ffff;
	padding-left: 15px;
	text-shadow: .5px 0 0 #fff;
}


/*END MAIN*/


.wrap-about {
	background-color: #333;
	min-height: 500px;
	padding: 20px;
}

.header-about {
	display: flex;
	justify-content: center;
}

.header-about h2 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 0 0 red;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

.about {	
	display: flex;
	justify-content: center;	
	align-items: center;

}

.school-member {	
	display: flex;	
	align-items: center;	
}

.member-first,
.member-second {
	margin: 10px 50px;
	width: 350px;
	border: 3px solid #67f3da;
	/*background: #fefff3;*/
	height: 550px;
}

.member-first h2,
.member-second h2 {
	text-align: center;
}

.member-first h4,
.member-second h4 {
	text-align: center;
	background: #fff;
	padding: 5px 0;
}

.member-first p,
.member-second p {
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
}

.img-name {
	margin: 10px auto;
	width: 250px;
	height: 250px;
	background: #fefff3;
	border-radius: 50%;
}

.member-first .img-name {
	background: url(../img/teachers/Andrey.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.member-second .img-name {
	background: url(../img/teachers/Sara.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	transform: scale(-1, 1);
}

/*END ABOUT*/


.price-table {
	background: #FFEABA;
	height: 800px;
}

.price {
	display: flex;
	justify-content: center;
	padding: 0;
	flex-direction: column;
	align-items: center;
}

.price h2 {
	font-family: Roboto, sans-serif;
	font-weight: 500;
}

.price p{
	padding: 0;
	margin: 1rem auto 3rem;
	font-family: Roboto, sans-serif;
}

.price-tags {

	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin: 0 30px;
}

.price-tag {
	background-color: #A69F85;
	border-radius: 2rem;
	padding: 1rem;
	width: 270px;
	/*height: 400px;*/
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease-in-out;
	/*border: 1px solid red;*/
}

.price-tag:hover {
	box-shadow: 0 0 30px 3px #A69F85;
	transition: 0.3s;
}

.price-tag span {
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 1rem auto .5rem;
}

.price-tag h4 {
	font-family: Roboto, sans-serif;
	font-size: 2rem;
	font-weight: 500;
	color: ;
	background-color: #fefff3;
	padding: 15px 10px;
	border-radius: 15px;
	margin: 1.5rem auto;
}

.price-tag h4 sub {
	font-size: 1.2rem;
}

.price-tag h4 sup {
	vertical-align: super;
	font-size: 1.4rem;
	margin-right: 0.1rem;
}

.price-tag p {
	font-family: Roboto, sans-serif;
	font-size: 17px;
}

.price-tag img {
	padding: .8rem;
	margin: 0.5rem;
	background: #fefff3;
	border-radius: 100px;
}

.price-btn {
	padding: 1rem 2rem;
	border-radius: 100px;
	background-color: #fefff3;
	border: 1px solid #fefff3;
	color: ;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 300;
	font-family: Roboto, sans-serif;
}
.price-btn:hover {
	background-color: #7b7b7b;
	color: #fff;
	cursor: pointer;
	border: 1px solid #7b7b7b;
}

/*END PRICE	*/

.register {
	min-height: 400px;
	background-color: #848A5E;
}

/*END REGISTER*/

.footer {
	background-color: #000219;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.footer h2 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 0 0 red;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 0 0 #000;
}

.contact-us {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social-items-vk,
.social-items-vkfs,
.social-items-in,
.social-items-infs,
.social-items-you {
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 35px;
	width: 35px;	
	border: 1px solid #fff;;
	margin: 0 10px 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.social-items-vk:hover,
.social-items-vkfs:hover,
.social-items-in:hover,
.social-items-infs:hover,
.social-items-you:hover {
	border: 1px solid red;
	box-shadow: 2px 2px 0 0 #fff;;
}

.social-items-vk {
	background: url(../img/social/vk.svg) no-repeat center;
	-webkit-background-size: 24px;
	background-size: 24px;: 
}

.social-items-vk:hover {
	background: url(../img/social/vk-1.svg) no-repeat center;
	-webkit-background-size: ;
	background-size: 24px;
	transition: all 0.3s; 
}

.social-items-in {
	background: url(../img/social/instagram.svg) no-repeat center;
	-webkit-background-size: 24px;
	background-size: 24px;: 
}

.social-items-in:hover {
	background: url(../img/social/instagram-1.svg) no-repeat center;
	-webkit-background-size: ;
	background-size: 24px ;
	transition: all 0.3s; 
}

.social-items-you {
	background: url(../img/social/youtube.svg) no-repeat center;
	-webkit-background-size: 24px;
	background-size: 24px;: 
}

.social-items-you:hover {
	background: url(../img/social/youtube-1.svg) no-repeat center;
	-webkit-background-size: ;
	background-size: 24px;
	transition: all 0.3s;
}