
body {
	padding: 0 0 10px 0;
	margin: 0;
	box-sizing: border-box;	
	background: url(../img/bg-2.png);
}

.container {
	width: 1200px;
	margin: auto;
	
}
/*#switch {
	display: none;
}
.switch-label {
	display: inline-block;
	cursor: pointer;
	background: #fff;
	color: #111;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0 2px #666;
}
.switch-label::after {
	content: "on";
}
.switch-label::before {
	content: " ";
	display: inline-block;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background: #003321;
	margin-right: 10px;
	border: 1px solid #111;
}
.switch-label:active {
	box-shadow: none;
	transform: translate3d(0, 2px, 0);
}
#switch:checked + .switch-label::before {
	background: #2f5;
}
#switch:checked + .switch-label::after {
	content: "off";
}
@keyframes flicker {
	0% {
		opacity: 1769613999;
	}
	5% {
		opacity: 699897049;
	}
	10% {
		opacity: 863500382;
	}
	15% {
		opacity: 923042509;
	}
	20% {
		opacity: 2004709513;
	}
	25% {
		opacity: 177129109;
	}
	30% {
		opacity: 310732306;
	}
	35% {
		opacity: 1110820266;
	}
	40% {
		opacity: 402455372;
	}
	45% {
		opacity: 37682273;
	}
	50% {
		opacity: 1683456944;
	}
	55% {
		opacity: 1640784101;
	}
	60% {
		opacity: 1739913983;
	}
	65% {
		opacity: 773853568;
	}
	70% {
		opacity: 1520466872;
	}
	75% {
		opacity: 1775235452;
	}
	80% {
		opacity: 1809775254;
	}
	85% {
		opacity: 822708950;
	}
	90% {
		opacity: 1178883614;
	}
	95% {
		opacity: 1671812548;
	}
	100% {
		opacity: 1054259048;
	}
}*/

.body-wrap {
	width: 1200px;
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
	position: relative;
	overflow: hidden;
	margin: auto;
	border: 1px solid #000;
}

.body-wrap::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;

}
.body-wrap::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

#switch:checked ~ .body-wrap::after {
	animation: flicker 0.15s infinite;
}
@keyframes turn-on {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 1;
	}
	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}
	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}
	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 0;
	}
	11% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(0) brightness(0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}
	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}
@keyframes turn-off {
	0% {
		transform: scale(1, 1.3) translate3d(0, 0, 0);
		-webkit-filter: brightness(1);
		filter: brightness(1);
		opacity: 1;
	}
	60% {
		transform: scale(1.3, 0.001) translate3d(0, 0, 0);
		-webkit-filter: brightness(10);
		filter: brightness(10);
	}
	100% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: scale(0, 0.0001) translate3d(0, 0, 0);
		-webkit-filter: brightness(50);
		filter: brightness(50);
	}
}
.screen {
	width: 100%;
	height: 100%;
	border: none;
}
#switch ~ .body-wrap > .screen {
	animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: forwards;
}
#switch:checked ~ .body-wrap > .screen {
	animation: turn-on 4s linear;
	animation-fill-mode: forwards;
}
@keyframes overlay-anim {
	0% {
		visibility: hidden;
	}
	20% {
		visibility: hidden;
	}
	21% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
.overlay {
	color: #0f0;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 60px;
	visibility: hidden;
	pointer-events: none;
}
#switch:checked ~ .body-wrap .overlay {
	animation: overlay-anim 5s linear;
	animation-fill-mode: forwards;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: #000;
	padding: 0 40px;
}

.header-logo {
	display: flex;
	margin-left: 1rem;
}

.header-item-bgd {	
	margin: 10px;
	background-color: red;
}

.header-item-bgd h4 {
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	text-align: center;
	margin: 0.5rem;
	font-size: 27px;
	text-shadow: 1px 0 0 red;
	margin: 0;
	line-height: 0;
	animation: glitch1 2.5s infinite;
}	


.header-item-bgd h4:nth-child(2) {
	color: #67f3da;
	animation: glitch2 2.5s infinite;
	background-color: red;
}

.header-item-bgd h4:nth-child(3) {
	color: #f16f6f;
	animation: glitch3 2.5s infinite;
	background-color: red;
}


@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}
	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}
	10% {
		transform: none;
		opacity: 1;
	}
	27% {
		transform: none;
		opacity: 1;
	}
	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}
	35% {
		transform: none;
		opacity: 1;
	}
	52% {
		transform: none;
		opacity: 1;
	}
	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}
	50% {
		transform: none;
		opacity: 1;
	}
	72% {
		transform: none;
		opacity: 1;
	}
	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}
	80% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(-2px, -3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(-5px, -2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(-5px, -1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(-2px, -6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}

@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}
	7% {
		transform: translate(2px, 3px);
		opacity: 0.5;
	}
	10% {
		transform: none;
		opacity: 0.25;
	}
	27% {
		transform: none;
		opacity: 0.25;
	}
	30% {
		transform: translate(5px, 2px);
		opacity: 0.5;
	}
	35% {
		transform: none;
		opacity: 0.25;
	}
	52% {
		transform: none;
		opacity: 0.25;
	}
	55% {
		transform: translate(5px, 1px);
		opacity: 0.5;
	}
	50% {
		transform: none;
		opacity: 0.25;
	}
	72% {
		transform: none;
		opacity: 0.25;
	}
	75% {
		transform: translate(2px, 6px);
		opacity: 0.5;
	}
	80% {
		transform: none;
		opacity: 0.25;
	}
	100% {
		transform: none;
		opacity: 0.25;
	}
}



.header-item-cyber p {
	font-family: Play, sans-serif;
	text-transform: uppercase;
	color: #00ffff;
	font-size: 13px;
	margin: 0 auto;
	line-height: 1.20;
	text-shadow: -1px 0 0 #0000ff;	
}

.header-item-cyber p::selection {
	background: #fff;
}

nav {
	position: relative;
	width: 590px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 90%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	/*border-radius: 8px;*/
}

.header-item a {
	font-family: 'Press Start 2P', cursive;
	letter-spacing: 1px;
	font-size: 10px;
}

.header-item a:nth-child(1) {
	width: 100px;
}

.header-item a:nth-child(2) {
	width: 110px;
}

.header-item a:nth-child(3) {
	width: 100px;
}

.header-item a:nth-child(4) {
	width: 150px;
}

.header-item a:nth-child(5) {
	width: 120px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	border: 2px solid red;
}

nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	border: 2px solid red;
}

nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	border: 2px solid red;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 150px;
	left: 310px;
	border: 2px solid red;
}

nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 460px;
	/*border: 1px solid #00ffff;*/
}

/*END HEADER*/

.slider {
	height: 700px;
	/*background: url(../img/slider/ffwfwfwf.png) center;*/
	background-size: cover; 
	display: flex;
	justify-content: center;
}

.video img {
	background-size: cover; 
	background-position: center;
}

/*END SLIDER*/


.text-section {
	width: 600px;
}

.wrap-main {		
	margin: auto;
	padding: 20px;
	background: #000;
}

.main-header {
	display: flex;
	justify-content: center;
	margin: 15px 0;	
	
}

.main-header h2::selection {
	background: #000;
}

.main-header h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 0 0 #000;
	background-color: red;
	padding: 15px 25px;
	-webkit-animation: filter-animation-s .1s infinite;
}

@-webkit-keyframes filter-animation-s {
	0% {
		-webkit-filter: hue-rotate(0deg);
	}

	50% {
		-webkit-filter: hue-rotate(15deg);
	}

	100% {
		-webkit-filter: hue-rotate(0deg);
	}
}

.main-block {
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.block-about {
	margin: 30px;
	width: 500px;
	height: 220px;
	border: 1px solid #67f3da;
	align-self: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 5px red;
	transition: 1s ease-in-out;
}

.block-img	{
	display: flex;
	margin: 0 20px;
	width: 100px;
	height: 100px;
	border: 1px solid #67f3da;
	box-shadow: 5px 5px 0 red;
	
}

.block-img.bot {
	background: url(../img/main-block/thumb-up-hand-outline-interface-symbol.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 40px;
}

.block-img.hours {
	background: url(../img/main-block/presentation.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 40px;
}

.block-img.growth {
	background: url(../img/main-block/armchair.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 40px;
}

.block-img.edit {
	background: url(../img/main-block/mortarboard.svg) no-repeat center;
	-webkit-background-size: 100px;
	background-size: 55px;
}

.block-text {
	margin: 0 35px;
	width: 225px;
	flex-grow: 1;
	color: #fff;
}

.block-text h2 {
	font-family: Play, sans-serif;
	font-size: 18px;
	color: #000; 
	background-color: #00ffff;
	padding: 5px 15px;	
	box-shadow: 1px 1px 0 red;
	text-transform: uppercase;
}

.block-text h2::selection {
	background: red;
}

.block-text p {
	font-family: Play, sans-serif;
	font-weight: 400;
	color: #00ffff;
	padding-left: 15px;
	text-shadow: .5px 0 0 #fff;
}

.block-text p::selection {
	background: red;
}


/*END MAIN*/


.wrap-about {
	background-color: red;
	height: 800px;
	padding: 20px;

}

.header-about {
	display: flex;
	justify-content: center;
}

.header-about h2::selection {
	background: red;
}

.header-about h2 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 1px 0 0 red;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background-color: #000;
	padding: 15px 25px;
	-webkit-animation: filter-animation-d .1s infinite;
}

@-webkit-keyframes filter-animation-d {
	0% {
		-webkit-filter: opacity(.9);
	}

	50% {
		-webkit-filter: opacity(1);
	}

	100% {
		-webkit-filter: opacity(.9);
	}
}

.about {	
	display: flex;
	justify-content: center;	
	align-items: center;

}

.school-member {	
	display: flex;	
	align-items: center;	
}

.member-first,
.member-second,
.member-third {
	margin: 30px 30px;
	width: 310px;
	height: 445px;
	border: 1px solid #fff;
}

.member-first h2,
.member-second h2,
.member-third h2 {
	text-align: center;
	font-family: 'Play', sans-serif;
	color: #fff;
	text-shadow: 1px 0 0 #000;
	margin: 0;
	padding: 20px 0; 
	background: url(../img/0055ad64-1.png) repeat;
	opacity: .85
}

.school-member h2::selection {
	background: #000;
}

.school-member h4::selection {
	background: red;
}

.school-member p::selection {
	background: #00ffff;
}

.member-first h4, 
.member-second h4,
.member-third h4 {
	text-align: center;
	background: #fff;
	padding: 5px 0;
	font-family: 'Play', sans-serif;
	text-transform: uppercase;
	text-shadow: .5px 0 0 red;
	margin: 0;

}

.member-first p,
.member-second p,
.member-third p {
	text-align: justify;
	font-size: 14px;
	padding: 0 20px;
	font-family: Play, sans-serif;
	/*text-shadow: .2px 0 0 #fff;*/
	
}

.img-name {
	height: 350px;
	background: #fefff3;
}
.member-first .img-name, 
.member-second .img-name, 
.member-third .img-name {
	-webkit-animation: filter-animation .5s infinite;
}

@-webkit-keyframes filter-animation {
	0% {
		-webkit-filter: hue-rotate(0deg) saturate(1);
	}

	50% {
		-webkit-filter: hue-rotate(10deg) saturate(1.2);
	}

	100% {
		-webkit-filter: hue-rotate(0deg) saturate(1);
	}
}

.member-first .img-name {
	background: url(../img/teachers/Andrey.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .85;
}

.member-second .img-name {
	background: url(../img/teachers/2lvl.png);
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .85;
}

.member-third .img-name {
	background: url(../img/teachers/Sara.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	transform: scale(-1, 1);
	opacity: .85;
}
/*END ABOUT*/


.wrap-price {
	background: #000;
	min-height: 600px;
	padding: 20px;
}

.price {
	display: flex;
	justify-content: center;
}
.price h2::selection {
	background: #000;
}
.price h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 0 0 #000;
	padding: 15px 25px;
	background-color: red;
	-webkit-animation: filter-animation-s .1s infinite;
}

@-webkit-keyframes filter-animation-s {
	0% {
		-webkit-filter: hue-rotate(0deg);
	}

	50% {
		-webkit-filter: hue-rotate(15deg);
	}

	100% {
		-webkit-filter: hue-rotate(0deg);
	}
}

.price p{
	padding: 0;
	margin: 1rem auto 3rem;
	font-family: Roboto, sans-serif;
}

.price-tags {
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin: 40px 30px;
}

.price-tag {	
	border: 1px solid #67f3da;
	box-shadow: 5px 5px red;
	padding: 1rem;
	width: 270px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s ease-in-out;
}

.price-tag h4::selection {
	background: red;
}

.price-tag span::selection {
	background: #00ffff;
}

.price-tag li::selection {
	background: red;
}
.price-tag span {
	font-size: 25px;
	text-transform: uppercase;
	margin: 1rem auto .5rem;
	color: #fff;
	font-weight: 700;
	font-family: Play, sans-serif;
	padding: 5px 10px;
	background-color: red;
	text-shadow: 1px 0 0 #000;
}

.price-tag h4 {
	font-family: Play, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #67f3da;
	border: 1px solid #67f3da;
	box-shadow: 5px 5px red;
	padding: 10px 10px;
	margin: 1.5rem auto;
}

.price-tag h4 sub {
	font-size: 1.2rem;
}

.price-tag h4 sup {
	vertical-align: super;
	font-size: 1.4rem;
	margin-right: 0.1rem;
}

.price-tag ul {
	font-family: Play, sans-serif;
	font-size: 17px;
	color: #00ffff;
	text-align: center;
	/*padding: 0 15px 20px 0;*/
}

.price-tag li {
	text-align: left;
}

.price-tag .new,
.price-tag .mid,
.price-tag .pro
{
	padding: .8rem;
	margin: 0.5rem;
	border: 1px solid #00ffff;
	box-shadow: 5px 5px red;	
	width: 100px;
	height: 100px;
	
}
.new {
	background: url(../img/block/half-battery.svg) no-repeat center;
	background-size: 30px;
}

.mid {
	background: url(../img/block/image2vector.svg) no-repeat center;
	background-size: 40px;
}


.pro {
	background: url(../img/block/fully-charged.svg) no-repeat center;
	background-size: 50px;
}


/*END PRICE	*/



.register {
	min-height: 400px;
	background-color: red;
}

/*END REGISTER*/

.footer {
	background-color: #000;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.main-footer {
	background-color: red;
	display: flex;
	justify-content: center;
}

.main-footer h2::selection {
	background: #000;
}

.main-footer h2 {
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 0 0 #000;
	background-color: red;
	padding: 15px 25px;
	-webkit-animation: filter-animation-s .1s infinite;
}

@-webkit-keyframes filter-animation-s {
	0% {
		-webkit-filter: hue-rotate(0deg);
	}

	50% {
		-webkit-filter: hue-rotate(15deg);
	}

	100% {
		-webkit-filter: hue-rotate(0deg);
	}
}

.contact-us {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social-items-vk,
.social-items-in,
.social-items-you {
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 50px;
	width: 50px;	
	margin: 0 10px 20px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	padding: 5px 5px;
	border: 1px solid #000;
}

.social-items-vk:hover,
.social-items-in:hover,
.social-items-you:hover {	
	border: 1px solid #00ffff;
}

.social-items-vk {
	background: url(../img/social/vk.svg) no-repeat center red;
	-webkit-background-size: 35px;
	background-size: 35px;
}

.social-items-vk:hover {
	background: url(../img/social/vk-1.svg) no-repeat center;
	-webkit-background-size: 35px;
	background-size: 35px;
	transition: all 0.5s; 
}

.social-items-in {
	background: url(../img/social/instagram.svg) no-repeat center red;
	-webkit-background-size: 35px;
	background-size: 35px; 
}

.social-items-in:hover {
	background: url(../img/social/instagram-1.svg) no-repeat center;
	-webkit-background-size: 35px;
	background-size: 35px;
	transition: all 0.3s; 
}

.social-items-you {
	background: url(../img/social/youtube.svg) no-repeat center red;
	-webkit-background-size: 35px;
	background-size: 35px;
}

.social-items-you:hover {
	background: url(../img/social/youtube-1.svg) no-repeat center;
	-webkit-background-size: 35px;
	background-size: 35px;
	transition: all 0.3s;
}